name: test-javascript

on:
  pull_request:
    branches:
      - main
  workflow_call:
  push:
    branches:
      - main
      - renovate/**

jobs:
  test-javascript:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version: ['24.x']

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
        if: ${{ matrix.os != 'windows-latest' }}
      - run: npm install --no-optional
        if: ${{ matrix.os == 'windows-latest' }}
      - run: npm test
      - run: npm run eslint
